:root {
    /* Light theme colors */
    --color-background: #d9ead3;
    --color-background-accent: #333e36;
    --color-foreground: #fafafa;
    --color-foreground-accent: #e4e5e8
}

/*
@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #333e36;
        --color-background-accent: #d9ead3;
    }
}
*/
